---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header selected="ABOUT" />
  <main>
    <h2>ABOUT</h2>
    <h3>美少女ゲーム制作班「<span>Philia</span>」とは</h3>
    <p>
      現代視覚文化研究会美少女ゲーム制作班では、<br />主に<span>ノベルゲーム（美少女ゲーム/ＰＣゲーム）</span
      >の制作を行っています。<br />企画、シナリオ、原画、スクリプトなどの役職に分かれながらチームで作品を制作し、<br
      />夏/冬に開催される<span>コミックマーケット</span>や<span>コミティア</span
      >などの同人誌即売会で作品を頒布することが目標です。<br /><span>新入生</span>のほか<span>上級生</span
      >の新規加入も募集中です。ぜひ新歓・見学などお越しください！
    </p>
    <h4>活動場所</h4>
    <p><span>・筑波大学文化系サークル館2F BOX（週によって変更することもあります）</span></p>
    <h4>活動曜日</h4>
    <p><span>・木曜日</span></p>
    <h3>企画の立て方</h3>
    <p>
      新規ゲーム制作企画を立てたい者（<span>・木曜日</span>）は、年に二回（春/秋）行われる<span>企画発表会</span
      >にてプレゼンを行い、<br />制作に必要な人員を募集することができます。
    </p>
    <p>①企画書を班長に提出</p>
    <p>②企画会議に出席</p>
    <p>③企画発表会にてプレゼン</p>
    <h3>各役職について</h3>
    <p>企画発表会を見た後に希望の作品、役職の志望をすることができます。</p>
    <h4>企画者（ライン長）</h4>
    <p>
      ライン長は作品の企画者です。ライン全体の指揮をとる他、各役職への素材の発注や、作業・演出などの指示を行います。その作品を担う一番の責任者でもあります。
    </p>
    <h4>シナリオライター</h4>
    作品の要となるストーリーを作り上げ、シナリオに落とし込む役職です。<br
    />役職の特性上、ライン長を兼ねることも多いです。<br
    />現美少女ゲーム制作班では、純愛、ファンタジーから、電波、鬱、ＢＬなど様々なジャンルの作品が執筆されています。
    <h4>原画</h4>
    <p>
      作品の顔となるキャラクターの立ち絵やイベントCGを作成しています。キャラクターデザイン、キービジュアルなども原画が制作します。
    </p>
    <h4>スクリプト</h4>
    <p>
      シナリオやイラスト、音楽などの素材をゲーム内に実装することが仕事です。現在美少女ゲーム制作班ではティラノスクリプトを用いた制作を行っています。
    </p>
    <h4>広報</h4>
    <p>2025年春から新しく加わった役職です。Webサイト制作や、X(旧Twitter)の運用を担当しています。</p>
    <h4>制作進行</h4>
    <p>
      2025年春から新しく加わった役職です。各ライン間のスケジュール管理や、企画発表会などの催し物の運営をしています。
    </p>
    <h3>入班に興味を持った方は美少女ゲーム制作班公式X(旧Twitter)のDMか、こちらのメールアドレスまでご連絡ください！</h3>
    <a href="https://x.com/tsukuba_bishojo">公式X(旧Twitter)はこちら</a>
  </main>
</Layout>

<style>
  main {
    color: #0f1419;
    font-family: sans-serif;
    padding: 4rem;
    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
  }

  span {
    color: #ff8bd3;
  }
</style>
