---
import Header from "../components/Header.astro";
---

<meta charset="UTF-8" />

<div id="container">
  <body>
    <Header selected="CHARACTER" />
    <h2>CHARACTER</h2>
    <p>美少女ゲーム制作班公式キャラクター『びしょげちゃん』についてご紹介します。</p>
    <h3>びしょげちゃん</h3>
    <p>「僕はびしょげちゃん。君たちにこの美少女ゲーム制作班について教えるね。」</p>
    <p><img src="/images/bishogechan.png" alt="びしょげちゃん" width="300" height="530" /></p>
  </body>
</div>

<style></style>
