---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<meta charset="UTF-8">

<div id="container">
  <body>
    <h1>筑波大学現代視覚文化研究会美少女ゲーム制作班「Philia」</h1>
    <p>
      「Philia」は筑波大学文化系サークル連合会所属現代視覚文化研究会の美少女ゲーム制作班のノベルゲーム制作ブランドです。
    </p>
    <p id="tabcontrol">
      <a href="/components/Main">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/works">WORKS</a>
      <a href="/character">CHARACTER</a>
      <a href="/members">MEMBERS</a>
      <a href="/contact">CONTACT</a>
    </p>
    <h2>CHARACTER</h2>
    <p>美少女ゲーム制作班公式キャラクター『びしょげちゃん』についてご紹介します。</p>
　　<h3>びしょげちゃん</h3>
    <p>「僕はびしょげちゃん。君たちにこの美少女ゲーム制作班について教えるね。」</p>
    <p><img src="/images/bishogechan.png" alt="びしょげちゃん" width="300" height="530" /></p>
  
  </body>

</div>

<style></style>
