---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header selected="CONTACT" />
  <main>
    <h2>CONTACT</h2>
    <h3>お問い合わせはこちら</h3>
    <p>【メールアドレス】gskbishoge☆gmail.com（☆を＠に変えてください）</p>
    <p>【ｘ（旧Twitter）アカウント】<a href="https://x.com/tsukuba_bishojo">https://x.com/tsukuba_bishojo</a></p>
    <Footer />
  </main>

  <style>
    main {
      color: #0f1419;
      font-family: sans-serif;
      padding: 4rem;
      @media screen and (max-width: 768px) {
        padding: 1rem;
      }
    }
  </style>
</Layout>
