---
import Header from "../components/Header.astro";
---

<meta charset="UTF-8" />

<div id="container">
  <body>
    <Header selected="CONTACT" />
    <h1>筑波大学現代視覚文化研究会美少女ゲーム制作班「Philia」</h1>
    <p>
      「Philia」は筑波大学文化系サークル連合会所属現代視覚文化研究会の美少女ゲーム制作班のノベルゲーム制作ブランドです。
    </p>
    <p id="tabcontrol">
      <a href="/components/Main">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/works">WORKS</a>
      <a href="/character">CHARACTER</a>
      <a href="/members">MEMBERS</a>
      <a href="/contact">CONTACT</a>
    </p>
    <h2>CONTACT</h2>
    <h3>お問い合わせはこちら</h3>
  </body>
</div>

<style></style>
