---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<meta charset="UTF-8" />

<div id="container">
  <Layout>
    <Header selected="MEMBERS" />
    <h2 >MEMBERS</h2>
    <h3>新歓スケジュール</h3>
    <p>新歓期間は新歓イベントを行います。新入生やそうでない方もぜひお越しください！</p>
    <p><img src="/images/shinkan.jpg" alt="新歓" width="700" height="500" /></p>
    <h3>入班希望の方へ</h3>
    <p>
      入班希望の方は美少女ゲーム制作班公式X(旧Twitter)のＤＭかこちらのメールアドレスまでご連絡ください！なお、入班した方はげんしけんとしての会費前期：2000円後期：2000円をお支払いしていただく必要があります。
    </p>
    <a href="https://x.com/tsukuba_bishojo">公式X(旧Twitter)はこちら</a>
  </Layout>
</div>

<style></style>
