---
import Header from "../components/Header.astro";
import NewsListLayout from "../layouts/NewsListLayout.astro";

import { getCollection } from "astro:content";
import NewsThumbnail from "../components/NewsThumbnail.astro";
const news = await getCollection("news");
---

<NewsListLayout>
  <Header selected="NEWS" />
  <div id="header">
    <h1>NEWS</h1>
  </div>
  <h1 id="h1-back">NEWS</h1>

  <div>
    {news.map((article: any) => <NewsThumbnail description={article.data.description} id={article.id} />)}
  </div>

  <div id="footer">
    <a href="/">&gt;&gt; トップページに戻る</a>
  </div>
</NewsListLayout>

<style>
  #header {
    background-color: #ffa0d8;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 24em;
    height: 10em;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);

    & > h1 {
      font-size: 4em;
      color: #fff;
      position: fixed;
      margin: 0;
      top: 0.5em;
      left: 0.5em;
    }
  }

  #h1-back {
    font-size: 4em;
    color: #ffa0d8;
    position: fixed;
    margin: 0;
    top: 0.5em;
    left: 0.5em;
    z-index: 99;
  }

  #footer {
    background-color: #fea6ff;
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20em;
    height: 6em;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);

    a {
      font-size: 1em;
      color: #fff;
      position: absolute;
      margin: 0;
      bottom: 1rem;
      right: 1rem;
      text-decoration: none;
      transition: 0.25s all;
    }

    a:hover {
      transform: scale(1.1);
    }
  }
</style>
