---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import NewsContent from "../components/NewsContent.astro";
const news = await getCollection("news");
---

<Layout>
  <Header selected="NEWS" />
  <main>
    <h2>NEWS</h2>
    <div>
      {news.map((article: any) => <NewsContent description={article.data.description} id={article.id} />)}
    </div>
  </main>
</Layout>

<style>
  main {
    color: #0f1419;
    font-family: sans-serif;
    padding: 4rem;
  }
</style>
