---
import WorkListLayout from "../layouts/WorkListLayout.astro";
import WorkThumbnail from "../components/WorkThumbnail.astro";

import { getCollection } from "astro:content";
const works = await getCollection("works");
---

<WorkListLayout>
  <div id="header">
    <h1>作品一覧</h1>
  </div>
  <h1 id="h1-back">作品一覧</h1>

  <div>
    {
      works.map((work: any) => (
        <WorkThumbnail
          title={work.data.title}
          description={work.data.description}
          id={work.id}
          keyVisualPath={"/src/pages/works/" + work.id + "/images/keyvisual.png"}
        />
      ))
    }
  </div>
</WorkListLayout>
