---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import WorkThumbnail from "../components/WorkThumbnail.astro";

import { getCollection } from "astro:content";
const works = await getCollection("works");
import Footer from "../components/Footer.astro";
import Pink from "../components/utils/Pink.astro";
---

<Layout>
  <Header selected="WORKS" />
  <main>
    <h1>WORKS</h1>
    <p>
      <span>美少女ゲーム制作班で制作された作品たち</span>です。
    </p>
    <p>これが全てではなく、とりあえず載せられるものだけ載せています。</p>
    <p><span>作品の個別ページ</span>も今後公開されるかもしれませんよ〜。</p>

    <div>
      {
        works.map((work: any) => (
          <WorkThumbnail
            title={work.data.title}
            description={work.data.description}
            id={work.id}
            keyVisualPath={"/src/assets/works/" + work.id + "/keyvisual.png"}
          />
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>

<style>
  h1 {
    font-family: "CHI_SavannaG";
  }
  span {
    color: #e761a4;
  }
  main {
    color: #0f1419;
    font-family: sans-serif;
    text-align: left;
    padding: 4rem;
    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
</style>
