---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import WorkThumbnail from "../components/WorkThumbnail.astro";

import { getCollection } from "astro:content";
const works = await getCollection("works");
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header selected="WORKS" />
  <main>
    <h2>WORKS</h2>

    <div>
      {
        works.map((work: any) => (
          <WorkThumbnail
            title={work.data.title}
            description={work.data.description}
            id={work.id}
            keyVisualPath={"/src/assets/works/" + work.id + "/keyvisual.png"}
          />
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    color: #0f1419;
    font-family: sans-serif;
    padding: 4rem;
    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
</style>
