---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<body>
	  <h1>筑波大学現代視覚文化研究会美少女ゲーム制作班「Philia」</h1>
	  <p>「Philia」は筑波大学文化系サークル連合会所属現代視覚文化研究会の美少女ゲーム制作班のノベルゲーム制作ブランドです。</p>
	  <p id="tabcontrol">
        <a href="#tabpage1">HOME</a>
        <a href="/Main - コピー.astro">ABOUT</a>
        <a href="#tabpage3">WORKS</a>
        <a href="#tabpage4">CHARACTER</a>
        <a href="#tabpage5">MEMBERS</a>
        <a href="#tabpage5">CONTACT</a>
      </p>
      <h2>ABOUT</h2>
      <h3>美少女ゲーム制作班について</h3>
      <p>現代視覚文化研究会美少女ゲーム制作班では、主にノベルゲームの制作を行っています。</p>

	</body>
</div>

<style>
	
</style>
