<footer>
  <a href="/">&gt;&gt; ホームに戻る</a>
  <p>© {new Date().getFullYear()} 筑波大学現代視覚文化研究会美少女ゲーム制作班/Philia All Rights Reserved.</p>
</footer>

<style>
  footer {
    display: block;
    background-image: linear-gradient(to right, #fffee0, #ffdaf4, #ebceff);
    padding: 1em;

    a {
      display: block;
      font-size: 1em;
      text-decoration: none;
      transition: 0.25s all;
    }

    a:hover {
      transform: scale(1.1);
    }
  }
</style>
