---
import Tabbar from "./Tabbar.astro";
interface Props {
  selected: string;
}

const { selected }: Props = Astro.props;
---

<header>
  <div id="top">
    <h1>-Philia-</h1>
    <h2>筑波大学現代視覚文化研究会美少女ゲーム制作班「Philia」</h2>
  </div>
  <Tabbar selected={selected} />
</header>

<style>
  :global(body) {
  margin: 0;
  }

  header {
    background-image: linear-gradient(to right, #EBCEFF,#FFDAF4,#FFFEE0);
    font-family: "JK Gothic", sans-serif;
    width: 100%;
    text-align: center;
    position: relative; top: 0; 
    padding: 2rem 0;
    }
</style>
