---
import Tabbar from "./Tabbar.astro";
import HamburgerMenu from "./HamburgerMenu.astro";
interface Props {
  selected: string;
}

const { selected }: Props = Astro.props;
---

<header>
  <div id="top">
    <h1><span>×××</span>　-Philia- <span>×××</span></h1>
    <h4>筑波大学現代視覚文化研究会美少女ゲーム制作班「Philia」</h4>
  </div>
  <section id="hamburger-menu-wrapper">
    <HamburgerMenu selected={selected} />
  </section>
  <section id="tabbar-wrapper">
    <Tabbar selected={selected} />
  </section>
</header>

<style>
  h4 {
    font-family: sans-serif;
    font-weight: 400;
  }
  span {
    color: #ffffff;
  }
  :global(body) {
    margin: 0;
  }

  header {
    background-image: linear-gradient(to right, #ebceff, #ffdaf4, #fffee0);
    font-family: "CHI_SavannaG";
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    padding: 2rem 0;
  }

  #tabbar-wrapper {
    @media screen and (width < 768px) {
      display: none;
    }
  }

  #hamburger-menu-wrapper {
    @media screen and (width >= 768px) {
      display: none;
    }
  }
</style>
