---
import { getCollection } from "astro:content";
const news = await getCollection("news");
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<div id="container">
  <Layout>
    <Header selected="HOME" />

    <div class="slider">
      <div class="slider-item">
        <img src="/images/keyvisual.png" style="width: 550px;height: 500px; background-color: red;" />
      </div>
      <div class="slider-item">
        <img src="/images/pure.jpg" style="width: 550px;height: 500px; background-color: blue;" />
      </div>
      <div class="slider-item">
        <img src="/images/otogi.jpg" style="width: 550px;height: 500px; background-color: green;" />
      </div>
      <div class="slider-item">
        <img src="/images/shinkan.jpg" style="width: 550px;height: 500px; background-color: yellow;" />
      </div>
      <div class="slider-item">
        <img src="/images/keyvisual.png" style="width: 550px;height: 500px; background-color: red;" />
      </div>
    </div>

    <p>
      「Philia」は<br />筑波大学文化系サークル連合会所属<br />現代視覚文化研究会美少女ゲーム制作班の<br
      />ノベルゲームブランドです。
    </p>

    <div id="news-list">
      <h4>NEWS</h4>
      {
        news.map((article) => (
          <article class="news-line">
            <p>{article.data.date}</p>
            <h1>
              <a href={"/news/" + article.id}>{article.data.description}</a>
            </h1>
          </article>
        ))
      }
      <a id="news-link" href="/news">&gt;&gt; 他のニュースも見る</a>
    </div>
    <h3>現代視覚文化研究会美少女ゲーム制作班とは？</h3>
    <p>
      筑波大学現代視覚文化研究会美少女ゲーム制作班では、<br
      />主にノベルゲーム（美少女ゲーム/PCゲーム）の制作を行い、毎年夏/冬に開催されるコミックマーケットやコミティアなどの<br
      />同人誌即売会で作品を頒布することを目標としています。<br
      />2025年4月の現在では毎週木曜日に筑波大学内の文化系サークル館にあるBOXでミーティングを行っています。<p></p>
      <p>
        2024年10月より新しい班体制に生まれ変わり、<br
        />毎年春と夏の年二回、企画発表会を行うことで作品企画を立てられるようになりました。<br
        />主な役職はシナリオ、原画、スクリプト、制作進行、広報などがあります。<br
        />春/秋に行われる企画発表会の前に企画書を提出し、<br
        />企画会議に出席することで自らの作品の企画を立てられることができます。
      </p>
      <p>新入生の他、上級生の新規加入も歓迎しています。是非新歓等お越しください！</p>
      <a href="/members">入班希望の方はこちら</a>
      <h3>公式X（旧Twitter）</h3>
      <a
        class="twitter-timeline"
        href="https://twitter.com/tsukuba_bishojo?ref_src=twsrc%5Etfw"
        style="width: 550px;height: 500px;">Tweets by tsukuba_bishojo</a
      >
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </Layout>
</div>

<style>
  #container {
    text-align: center;
  }

  .slider {
    width: 550px;
    height: 500px;
    display: flex;
    overflow: visible;
    margin: 0 auto;
  }

  .slider > :first-child {
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: -100%;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -200%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -300%;
    }

    75% {
      margin-left: -300%;
    }

    95% {
      margin-left: -400%;
    }

    100% {
      margin-left: -400%;
    }
  }
  #news-list {
    margin: 1em;
    h4 {
      margin: 0;
      border-bottom: 1px solid #000;
    }

    .news-line {
      padding: 0.8em;
      border-bottom: 1px solid #000;
      p {
        margin: 0;
        font-size: 0.8rem;
      }

      h1 {
        margin: 0.4;
        font-size: 1.2rem;
        a {
          display: inline-block;
          color: #000;
          transition: 0.25s all;
        }

        a:hover {
          transform: scale(1.05);
        }
      }
    }

    #news-link {
      display: inline-block;
      margin: 0.5em;
      color: #000;
      transition: 0.25s all;
    }

    #news-link:hover {
      transform: scale(1.05);
    }
  }
</style>
