---
import { getCollection } from "astro:content";
const news = await getCollection("news");
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Slider from "./Slider.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header selected="HOME" />
  <Slider
    images={[
      { path: "/images/keyvisual.png", url: "/" },
      { path: "/images/pure.jpg", url: "/" },
      { path: "/images/otogi.jpg", url: "/" },
      { path: "/images/shinkan.jpg", url: "/" },
    ]}
  />

  <main>
    <div class="wave-box">
      <img src="/images/kazariwaku.png" alt="飾り上" class="wave-img top" />
      <div class="wave-text">
    <p>
      「Philia」は<br />筑波大学文化系サークル連合会所属<br />現代視覚文化研究会美少女ゲーム制作班の<br />ノベルゲームブランドです。
    </p>
    </div>
  </div>

    <div id="news-list">
      <h4>NEWS</h4>
      {
        news.map((article) => (
          <article class="news-line">
            <p>{article.data.date}</p>
            <h1>
              <a href={"/news/#" + article.id}>{article.data.description}</a>
            </h1>
          </article>
        ))
      }
      <a id="news-link" href="/news">&gt;&gt; 他のニュースも見る</a>
    </div>

    <h3>現代視覚文化研究会美少女ゲーム制作班とは？</h3>

    <p>
      筑波大学現代視覚文化研究会美少女ゲーム制作班では、<br />
      主に<span>ノベルゲーム（美少女ゲーム/PCゲーム）</span>の制作を行い、毎年夏/冬に開催される<span>コミックマーケット</span>や<span>コミティア</span>などの<br />
      同人誌即売会で作品を頒布することを目標としています。<br />
      2025年4月の現在では<span>毎週木曜日</span>に筑波大学内の文化系サークル館にある<span>BOX</span>でミーティングを行っています。
    </p>

    <p>
      2024年10月より新しい班体制に生まれ変わり、<br />
      毎年春と夏の年二回、<span>企画発表会</span>を行うことで作品企画を立てられるようになりました。<br />
      主な役職は<span>シナリオ、原画、スクリプト、制作進行、広報</span>などがあります。<br />
      春/秋に行われる企画発表会の前に企画書を提出し、<br />
      企画会議に出席することで自らの作品の企画を立てられることができます。
    </p>

    <p>
      <span>新入生</span>の他、<span>上級生</span>の新規加入も歓迎しています。是非新歓等お越しください！
    </p>

    <a href="/members">入班希望の方はこちら</a>

    <h3 id="twitter-heading">Twitter</h3>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
  </main>

  <Footer />
</Layout>

<style>
  span {
    color: #ff8bd3;
  }
  .wave-box {
  position: relative;
  width: 80%;
  text-align: center; /* ← ここ追加！ */
  max-width: 500px;
  margin: 0 auto;
}

.wave-img {
  width: 100%;
  height: auto;
  display: block;
}

.wave-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* ぴったり中央 */
  width: 100%; /* ←90%から100%にする！ */
  text-align: center;
  color: #0f1419;
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 1.8; /* ← 少し広げて改行を自然に */
  padding: 0 1rem;
  box-sizing: border-box; /* ← padding込みで中央化 */
}


  h3 {
    background-image: linear-gradient(to right, #ebceff, #ffdaf4, #fffee0);
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    top: 0;
    padding: 1rem 0;
  }

  main {
    color: #0f1419;
    font-family: sans-serif;
    padding: 4rem;
  }

  @media screen and (max-width: 768px) {
    main {
      padding: 1rem;
    }
  }

  #news-list {
    margin: 1em;
  }

  #news-list h4 {
    font-family: "CHI_SavannaG", sans-serif;
    margin: 0;
    border-bottom: 1px solid #000;
  }

  .news-line {
    padding: 0.8em;
    border-bottom: 1px solid #000;
  }

  .news-line p {
    margin: 0;
    font-size: 0.8rem;
  }

  .news-line h1 {
    margin: 0.4em 0;
    font-size: 1.2rem;
  }

  .news-line h1 a {
    display: inline-block;
    color: #000;
    transition: 0.25s all;
  }

  .news-line h1 a:hover {
    transform: scale(1.05);
  }

  #news-link {
    display: inline-block;
    margin: 0.5em;
    color: #000;
    transition: 0.25s all;
  }

  #news-link:hover {
    transform: scale(1.05);
  }

  #twitter-heading {
    font-family: "CHI_SavannaG", sans-serif;
  }
</style>
