---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
	<body>
	  <h1>筑波大学現代視覚文化研究会美少女ゲーム制作班「Philia」</h1>
	  <p>「Philia」は筑波大学文化系サークル連合会所属現代視覚文化研究会の美少女ゲーム制作班のノベルゲーム制作ブランドです。</p>
	  <p id="tabcontrol">
        <a href="#tabpage1">HOME</a>
        <a href="#tabpage2">ABOUT</a>
        <a href="#tabpage3">WORKS</a>
        <a href="#tabpage4">CHARACTER</a>
        <a href="#tabpage5">MEMBERS</a>
        <a href="#tabpage5">CONTACT</a>
      </p>

      <p><img src="/images/keyvisual.png" alt="たりない天使さま" width="300" height="430"></p>
      <h4>NEWS</h4>
      <h3>現代視覚文化研究会美少女ゲーム制作班とは？</h3>
      <p>筑波大学現代視覚文化研究会美少女ゲーム制作班では、主にノベルゲーム（美少女ゲーム/PCゲーム）の制作を行い、毎年夏/冬に開催されるコミックマーケットやコミティアなどの同人誌即売会で作品を頒布することを目標としています。2025年4月の現在では毎週木曜日に筑波大学内の文化系サークル館にあるBOXでミーティングを行っています。<p/>
      <p>2024年10月より新しい班体制に生まれ変わり、毎年春と夏の年二回、企画発表会を行うことで作品企画を立てられるようになりました。主な役職はシナリオ、原画、スクリプト、制作進行、広報などがあります。春/秋に行われる企画発表会の前に企画書を提出し、企画会議に出席することで自らの作品の企画を立てられることができます。</p>
      <p>新入生の他、上級生の新規加入も歓迎しています。是非新歓等お越しください！</p> 
    

	</body>
</div>

<style></style>
