---
import "../styles/global.css";
interface Tab {
  text: string;
  jaText: string;
  url: string;
}

interface Props {
  selected: string;
}

const { selected }: Props = Astro.props;
---

<section id="wrapper">
  {
    [
      { text: "HOME", jaText: "ホーム", url: "/" },
      { text: "ABOUT", jaText: "班について", url: "/about" },
      { text: "WORKS", jaText: "作品紹介", url: "/works" },
      { text: "CHARACTER", jaText: "イメージキャラクター", url: "/character" },
      { text: "MEMBERS", jaText: "メンバー募集", url: "/members" },
      { text: "CONTACT", jaText: "お問い合わせ", url: "/contact" },
      { text: "NEWS", jaText: "お知らせ", url: "/news" },
    ].map((tab: Tab) => (
      <div class={selected === tab.text ? "tab selected" : "tab"}>
        <a href={tab.url}>
          <h1>{tab.text}</h1>
          <p class="ja-text">{tab.jaText}</p>
        </a>
      </div>
    ))
  }
</section>

<style>
  #wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    .tab {
      text-align: center;
      padding: 0.2em;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .selected {
      border-bottom: 3px solid black;
    }

    h1 {
      font-family: "CHI_SavannaG", sans-serif;
      font-size: 1.2rem;
      margin: 0;
    }
    .ja-text {
      font-family: "JK Gothic", sans-serif;
      font-size: 0.9rem;
      margin: 0;
    }
  }
</style>
