---
import type { ImageMetadata } from "astro";

const { title, description, id, keyVisualPath } = Astro.props;
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/works/*/keyvisual.{jpeg,jpg,png,gif}");
if (!images[keyVisualPath])
  throw new Error(`"${keyVisualPath}" does not exist in glob: "/src/assets/works/*/keyvisual.{jpeg,jpg,png,gif}"`);
---

<article>
  <header>
    <h1>{title}</h1>
  </header>
  <main>
    <div id="text-wrapper">
      <p>{description}</p>
      <!-- <section> -->
      <!--   <a href={"/works/" + id}>&gt;&gt; Read more...</a> -->
      <!-- </section> -->
    </div>
    <div id="image-wrapper">
      <Image src={images[keyVisualPath]()} alt="Key Visual" class="key-visual" />
    </div>
  </main>
</article>

<style>
  /*
  article {
    margin: 1em;
    padding: 1em;
    background-color: #fff5fb;
    border-radius: 0.5em;
    width: auto;
  }
  */

  article {
    text-align: center;
    padding: 1em 0;

    header {
      display: block;
      margin: 0 auto;
      background-color: #ffdaf4;
      font-family: "JK Gothic", sans-serif;
      width: 60%;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      text-align: center;
      padding: 0.5rem;

      h2 {
        font-size: 1em;
      }
    }
  }

  main {
    padding: 1em;
    display: grid;
    @media screen and (max-width: 768px) {
      display: block;
    }
    grid-template-columns: 1fr auto;

    #text-wrapper {
      padding: 2em;

      h2 {
        text-align: center;
      }

      section {
        position: relative;
        transition: 0.25s all;
        width: fit-content;
        a {
          text-decoration: none;
        }
      }

      section:hover {
        transform: scale(1.1);
      }
    }

    #image-wrapper {
      padding: 2em;
      .key-visual {
        width: auto;
        max-height: 80vh;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }
</style>
