---
import type { ImageMetadata } from "astro";

const { title, description, id, keyVisualPath } = Astro.props;
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>("/src/pages/works/*/images/keyvisual.{jpeg,jpg,png,gif}");
if (!images[keyVisualPath])
  throw new Error(
    `"${keyVisualPath}" does not exist in glob: "/src/pages/works/*/images/keyvisual.{jpeg,jpg,png,gif}"`
  );
---

<article>
  <div id="text-wrapper">
    <h2>{title}</h2>
    <p>{description}</p>
    <section>
      <a href={"/works/" + id}>&gt;&gt; Read more...</a>
    </section>
  </div>
  <div id="image-wrapper">
    <Image src={images[keyVisualPath]()} alt="Key Visual" class="key-visual" />
  </div>
</article>

<style>
  article {
    margin: 1em;
    padding: 1em;
    background: #eee;
    border-radius: 0.5em;
  }
</style>
