<!doctype html>
<html lang="ja">
  <head>
     <!-- meta settings start -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ff8bd3" />
    <meta name="generator" content={Astro.generator} />
    <meta property="description" content="こちらは筑波大学公認サークルである現代視覚文化研究会 美少女ゲーム制作班の公式サイトです。" />
    <meta
      name="keyword"
      content="筑波大学, 'University of Tsukuba', げんしけん, 現代視覚文化研究会, 美少女ゲーム制作班, 美少女ゲーム, エロゲ, エロゲー, eroge, サークル, philia, 公式サイト, bishojyo, 美少女, びしょげちゃん"
    />
    <!-- meta settings end -->
    <!-- icon settings start -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" sizes="any" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="筑波大学現代視覚文化研究会 美少女ゲーム制作班" />
    <link rel="manifest" href="/manifest.json" />
    <!-- icon settings end -->
    <!-- OG setting start -->
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content="筑波大学現代視覚文化研究会 美少女ゲーム制作班" />
    <meta property="og:title" content="筑波大学現代視覚文化研究会 美少女ゲーム制作班" />
    <meta property="og:description" content="こちらは筑波大学公認サークルである現代視覚文化研究会 美少女ゲーム制作班の公式サイトです。" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Kirinoha-Novel/natsuiro-nikki-website/refs/heads/main/public/og-image.webp"
    />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bishojo.gsk-tsukuba.net" />
    <!-- OG setting end -->
    <!-- Twitter card settings start -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tsukuba_bishojo" />
    <meta name="twitter:creator" content="@tsukuba_bishojo" />
    <!-- Twitter card settings end -->
  <title>筑波大学現代視覚文化研究会 美少女ゲーム制作班</title>
</head>
  <body>
    <div id="wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    scroll-behavior: smooth;
    scroll-padding-top: 8em;
  }

  #wrapper {
    margin: 2em;
    padding-top: 8em;
  }
</style>
